@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');


body{
background: url(bg.jpg) no-repeat center fixed;
background-size: cover;
height: 100vh;
}

nav{
    text-align: center;
}
i{
    font-size: 70px;
    margin-top: 15px;
    color:#394eda;
    margin-bottom: 16px;
}

h1{
    margin: 0;
    font-size: 38px;
    color: #3a5bda;
    font-family: 'Caprasimo', cursive;
    opacity:0.7;
}


.container{
   max-width: 955px; 
   margin:auto;
   height:60vh;
   background: #678fcb;
   border-radius: 23px;
   height:60vh;
   padding:33px;
   overflow-y: auto;
   margin-bottom: 23px;
   opacity: 0.8;
}


.message{
 background:white;
 width:24%;
 padding:10px;
 margin:17px 12px;
 border: 2px solid black;
 border-radius: 10px;
}

.left{

float: left;
clear:both;
}

.right{

    float: right;
    clear:both;
}

#send-container{
    text-align: center;
    display:block;
    margin:auto;
    max-width: 985px;
    width:100%;
}

#messageInp{
    width: 825px;
    border:2px solid black;
    border-radius: 6px;
    height:34px;
}

.btn{
    font-family: 'Caprasimo', cursive;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    padding: 9px;
    height: 36px;
}

@media (max-width:909px){
    #messageInp{
        width: 400px;
    }


    #send-container{
        text-align: center;
        display:block;
        margin:auto;
        max-width: 500px;
        width:100%;
    }

}

@media (max-width:499px){
    #messageInp{
        width: 200px;
    }


    #send-container{
        text-align: center;
        display:block;
        margin:auto;
        max-width: 300px;
        width:100%;
    }

}

@media (max-width:612px){
    .right{
        width: 42%;
        
}

.left{
    width: 42%;
    
}


}




